.wrapperHome{
    background-color: #f5d030;
background-image: linear-gradient(100deg, #f5d030 0%, #f53803 74%);
margin-left: auto;
    margin-right: auto;
background-size:cover ;
overflow: hidden;
min-height: 100vh;
min-width: 100vh;
}

.video{
    opacity: .5;
   
  
    
}
.Pagination{
     display: flex;
   
   
}


.Video-NavBar{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
   margin-left: 0;
    box-shadow: 0 30px 40px 40px rgba(0,0,0,.1);
}

.Cards{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.recipesCards{
    
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(min(500px, 100%), 1fr));
  grid-gap:1rem;

  min-width: 0; 

}

.recipesCards:hover{
transform: 150%;
}

