.Card{
    height: 100%;
    width: 100%;
    border-radius: 10px;
   background-color: #bf033b;
   background-image: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);;
    border-style: groove;
}

.imgCardDiv{
    height: 300px;
    width: 300px;
    margin-bottom: -76px;
}
.imgCard{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

h1, h3 {
    color: black;
    
}