.wrapperDiet{
    background-color: #f5d030;
background-image: linear-gradient(100deg, #f5d030 0%, #f53803 74%);
margin-left: auto;
    margin-right: auto;
background-size:cover ;
overflow: hidden;
min-height: 100vh;
min-width: 100vh;
}

.video{
    opacity: .5;
   
  
    
}


.DietCards{
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  overflow: hidden; 
  min-width: 0; 
  text-align:inherit;
}